@page "/";
@model IndexModel;
@{
    ViewData["Title"] = "Home page";
}

@{
    if (!(Model?.UsersResponse is null) && Model.UsersResponse.Count > 0)
    {
        <div class="col-md-12">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <div style="overflow:auto; height: 50vh;">
                        <table id="tablaResultadosLogs" class="table table-striped table-hover table-bordered table-sm">
                            <caption class="text-center">@(Model.UsersResponse.Count) registro@(Model.UsersResponse.Count != 1 ? "s" : "") </caption>
                            <thead>
                                <tr>
                                    <th class="th-sm" style="text-align: center">
                                        Nombre de Usuario
                                    </th>
                                    <th class="th-sm" style="text-align: center">
                                        Nombre
                                    </th>
                                    <th class="th-sm" style="text-align: center">
                                        Email
                                    </th>
                                    <th class="th-sm" style="text-align: center">
                                        Tiene doble factor
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var usuario in Model.UsersResponse)
                                    {
                                        <tr onclick="cargarModal('@Url.Page("/Models/Usuarios/Detalle/UsuariosDetalleModal",
                                        new CleanArchitecture.Shared.Peticiones.Request.Users.UserDetail.UserDetailRequest
                                        {
                                            IdUsuario = usuario.Id,
                                        })')">
                                            <td href="@usuario.Nombre" class="th-sm" style="text-align: center"><a href="#">@usuario.NombreUsuario</a></td>
                                            <td class="th-sm" style="text-align: center">@usuario.Nombre</td>
                                            <td class="th-sm" style="text-align: center">@usuario.Email</td>
                                            <td class="th-sm" style="text-align: center">
                                                @if (usuario.TieneDobleFactor)
                                                {
                                                    <i class="fas fa-check-circle" style="color:green"></i>
                                                }
                                                else
                                                {
                                                    <i class="fas fa-times-circle" style="color:red"></i>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script>
    function cargarModal(urlAction) {
        //location.href = urlAction;
        $('.modal-body').load(urlAction, function () {
            $('#myModal').modal("show");
        });
    }

</script>
}