@page "/"


@if (!(UsersResponse is null) && UsersResponse.Count > 0)
{
    <div class="col-md-12">
        <div class="col-xs-12">
            <div class="table-responsive">
                <div style="overflow:auto; height: 50vh;">
                    <table id="tablaResultadosLogs" class="table table-striped table-hover table-bordered table-sm">
                        <caption class="text-center">@(UsersResponse.Count) registro@(UsersResponse.Count != 1 ? "s" : "") </caption>
                        <thead>
                            <tr>
                                <th class="th-sm" style="text-align: center">
                                    Nombre de Usuario
                                </th>
                                <th class="th-sm" style="text-align: center">
                                    Nombre
                                </th>
                                <th class="th-sm" style="text-align: center">
                                    Email
                                </th>
                                <th class="th-sm" style="text-align: center">
                                    Tiene doble factor
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var usuario in UsersResponse)
                                {
                                    <tr @onclick="() => SetModalOpenAsync(usuario.Id)">
                                        <td href="@usuario.Nombre" class="th-sm" style="text-align: center"><a href="#">@usuario.NombreUsuario</a></td>
                                        <td class="th-sm" style="text-align: center">@usuario.Nombre</td>
                                        <td class="th-sm" style="text-align: center">@usuario.Email</td>
                                        <td class="th-sm" style="text-align: center">
                                            @if (usuario.TieneDobleFactor)
                                            {
                                                <i class="bi bi-check2-circle" style="color:green"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-x-circle" style="color:red"></i>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@if (ShowModal)
{
    <!-- Modal -->
    <div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalle del Usuario @UserDetailResponse?.Id</h5>
                    <button @onclick="() => SetModalCloseAsync()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre Usuario</label>
                        <input type="text" class="form-control" id="recipient-name" value="@UserDetailResponse?.NombreUsuario" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre</label>
                        <input type="text" class="form-control" id="recipient-name" value="@UserDetailResponse?.Nombre" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="recipient-name" value="@UserDetailResponse?.Email" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Doble Factor</label>
                        @if (UserDetailResponse is not null && UserDetailResponse.TieneDobleFactor)
                        {
                            <i class="bi bi-check2-circle" style="color:green"></i>
                        }
                        else if (UserDetailResponse is not null)
                        {
                            <i class="bi bi-x-circle" style="color:red"></i>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button @onclick="() => SetModalCloseAsync()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
